<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/peru.jpg')">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>Galería de</h1>
        <h2>Lugares Turísticos del Perú</h2>
        <br/>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
  <div class="container">
    <div class="gallery">
      <div class="gallery-item">
        <img src="assets/img/machu-picchu.jpg" alt="Machu Picchu" />
        <div class="gallery-item-info">
          <h3>Machu Picchu</h3>
          <p>
            Una de las nuevas siete maravillas del mundo, la antigua ciudad
            incaica situada en lo alto de los Andes peruanos.
          </p>
        </div>
      </div>
      <div class="gallery-item">
        <img
          src="assets/img/rainbow-mountain.jpg"
          alt="Montaña de Siete Colores"
        />
        <div class="gallery-item-info">
          <h3>Montaña de Siete Colores</h3>
          <p>
            Una montaña en la cordillera de los Andes, conocida por sus
            coloridas capas de minerales y su impresionante paisaje.
          </p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="assets/img/amazon-rainforest.jpg" alt="Amazonía Peruana" />
        <div class="gallery-item-info">
          <h3>Amazonía Peruana</h3>
          <p>
            La selva amazónica en el este de Perú, hogar de una increíble
            diversidad de flora y fauna.
          </p>
        </div>
      </div>

      <div class="gallery-item">
        <img src="assets/img/huacachina.jpg" alt="Oasis de Huacachina" />
        <div class="gallery-item-info">
          <h3>Oasis de Huacachina</h3>
          <p>
            Un pequeño oasis en el desierto de Ica, famoso por sus dunas de
            arena y actividades como el sandboarding y los paseos en buggy.
          </p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="assets/img/colca-canyon.jpg" alt="Cañón del Colca" />
        <div class="gallery-item-info">
          <h3>Cañón del Colca</h3>
          <p>
            Uno de los cañones más profundos del mundo, ubicado en la región de
            Arequipa, conocido por sus paisajes impresionantes y la observación
            de cóndores.
          </p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="assets/img/lake-titicaca.jpg" alt="Lago Titicaca" />
        <div class="gallery-item-info">
          <h3>Lago Titicaca</h3>
          <p>
            El lago navegable más alto del mundo, compartido entre Perú y
            Bolivia, famoso por sus islas flotantes y la cultura de los pueblos
            indígenas que lo habitan.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
