<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/cc.jpg');">
        <div class="filter"></div>
    </div>
</div>

<div class="main">
    <div class="section profile-content">
        <div class="container">
            <div class="owner text-center">
                <div class="name tim-title">
                    <h2 class="title">Contáctanos</h2>
                    <h5 class="description">Estamos aquí para ayudarte. Si tienes alguna pregunta, no dudes en contactarnos.</h5>
                </div>
            </div>
        </div>
        <div class="contact-container container mt-5">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <form class="contact-form">
                        <h2 class="text-center mb-1">Envíanos un mensaje</h2>
                        <div class="form-group">
                            <input type="text" class="form-control custom-input" id="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control custom-input" id="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control custom-textarea" id="mensaje" rows="5" placeholder="Mensaje" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger btn-round">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="contact-info text-center">
                        <h2>¡Contáctanos!</h2>
                        <div class="info">
                            <i class="fa fa-map-marker"></i>
                            <div class="text">123 Óvalo Papal, Trujillo, Perú</div>
                        </div>
                        <div class="info">
                            <i class="fa fa-phone"></i>
                            <div class="text">(+00) 123456789</div>
                        </div>
                        <div class="info">
                            <i class="fa fa-envelope"></i>
                            <div class="text">info@example.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
