<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ss.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section section-services">
        <div class="container">
            <div class="tim-title mb-3">
                <h2 class="mb-2">Nuestros Servicios</h2>
                <p class="mb-5">Ofrecemos una variedad de servicios para hacer de tu viaje una experiencia inolvidable</p>
            </div>
            <div id="services">
                <div class="row">
                    <div class="col-md-4">
                        <div class="service">
                            <i class="fa fa-users service-icon"></i>
                            <h4>Guías Turísticos</h4>
                            <p>Nuestros guías expertos te mostrarán los mejores destinos y te contarán la rica historia y cultura de cada lugar.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <i class="fa fa-map service-icon"></i>
                            <h4>Tours Personalizados</h4>
                            <p>Ofrecemos tours personalizados que se adaptan a tus intereses y necesidades, asegurando una experiencia única.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <i class="fa fa-hotel service-icon"></i>
                            <h4>Alojamiento</h4>
                            <p>Contamos con una selección de hoteles de alta calidad para que tu estadía sea cómoda y placentera.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <i class="fa fa-bus service-icon"></i>
                            <h4>Transporte</h4>
                            <p>Proporcionamos servicios de transporte seguro y confiable para que llegues a tu destino sin preocupaciones.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <i class="fa fa-suitcase service-icon"></i>
                            <h4>Paquetes Turísticos</h4>
                            <p>Ofrecemos paquetes turísticos que incluyen vuelos, alojamiento, y tours para una experiencia completa y sin estrés.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <i class="fa fa-info-circle service-icon "></i>
                            <h4>Asesoramiento de Viajes</h4>
                            <p>Te brindamos asesoramiento personalizado para planificar y organizar tu viaje, adaptándonos a tus preferencias y presupuesto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
