<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/nn.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name tim-title">
                    <h2 class="title">Nosotros</h2>
                    <h4 class="description">Misión y Visión</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Somos una empresa comprometida con brindar viajes seguros a todos los lugares del mundo. Nuestra visión es seguir ayudando a miles de personas a reencontrarse con su familia.</p>
                </div>
            </div>
        </div>
        <section class="container">
            <hr>
            <div class="servi-doscol">
                <div class="servi-col">
                    <div class="servi-col-barra">
                        <h4>Nuestra Historia</h4>
                    </div>
                    <div class="mb-3" id="history">
                        <strong>
                            <h2>En 20XX, nuestra empresa fue fundada con el objetivo de llevar personas a todos lados. Desde entonces, hemos estado comprometidos con la excelencia y la innovación en todas nuestras actividades.</h2>
                        </strong>
                    </div>
                </div>
                <div class="servi-col txt-p">
                    <img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="">
                </div>
            </div>
            <hr>
        </section>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Sobre Nosotros</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#servicios"><img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Carlos Rojas</h4>
                            <h6 class="card-category">Guía Turístico</h6>
                        </div>
                        <p class="card-description text-center">Apasionado por mostrar la belleza y la cultura de Perú a visitantes de todo el mundo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#twitter" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#google-plus" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#linkedin" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#galeria"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Ana Torres</h4>
                            <h6 class="card-category">Fotógrafa</h6>
                        </div>
                        <p class="card-description text-center">Capturando la esencia de Perú a través de la lente de su cámara para compartir con el mundo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#twitter" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#google-plus" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#linkedin" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#nosotros"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Roberto Gómez</h4>
                            <h6 class="card-category">Historiador</h6>
                        </div>
                        <p class="card-description text-center">Compartiendo el profundo y fascinante pasado de Perú con todos los interesados en aprender más.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#twitter" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#google-plus" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#linkedin" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
